<div class="card-analytics">
  <mat-card class="cliente-card" appearance="outlined" *ngIf="clienteData">
    <mat-card-header>
      <mat-card-title>Cliente que Mais Comprou</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="clienteData; else noData">
        Cliente: <strong>{{ clienteData[0] }}</strong>
      </p>
      <p *ngIf="clienteData; else noData">
        Valor Total: <strong>R$ {{ clienteData[1].toFixed(2) }}</strong>
      </p>
    </mat-card-content>
    <ng-template #noData>
      <mat-card-content>
        <p>Nenhum dado disponível.</p>
      </mat-card-content>
    </ng-template>
  </mat-card>

  <mat-card class="produto-card" appearance="outlined" *ngIf="produtoData">
    <mat-card-header>
      <mat-card-title>Produto com Maior Valor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="produtoData; else noData">
        Produto: <strong>{{ produtoData[0] }}</strong>
      </p>
      <p *ngIf="produtoData; else noData">
        Valor Total: <strong>R$ {{ produtoData[1].toFixed(2) }}</strong>
      </p>
    </mat-card-content>
    <ng-template #noData>
      <mat-card-content>
        <p>Nenhum dado disponível.</p>
      </mat-card-content>
    </ng-template>
  </mat-card>

  <mat-card class="vendedor-card" appearance="outlined" *ngIf="vendedorData">
    <mat-card-header>
      <mat-card-title>Vendedor com Maior Valor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="vendedorData; else noData">
        Vendedor: <strong>{{ vendedorData[0] }}</strong>
      </p>
      <p *ngIf="vendedorData; else noData">
        Valor Total: <strong>R$ {{ vendedorData[1].toFixed(2) }}</strong>
      </p>
    </mat-card-content>
    <ng-template #noData>
      <mat-card-content>
        <p>Nenhum dado disponível.</p>
      </mat-card-content>
    </ng-template>
  </mat-card>

</div>
<div echarts [options]="chartOptionLinha" class="chart-container"></div>
